.cancha-selector {
  margin: 1.5rem auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.cancha-selector label {
  font-weight: 500;
  color: #007bff;
}

.cancha-selector select {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}